[Unit]
Description=Algo Trading Aggregate Refresher Service
After=network.target postgresql@17-main.service
Requires=postgresql@17-main.service

[Service]
User=anurag
WorkingDirectory=/home/anurag/Desktop/Algo-Trading/algo-trade-platform
ExecStart=/home/anurag/Desktop/Algo-Trading/algo-trade-platform/backend/app/data/venv/bin/python /home/anurag/Desktop/Algo-Trading/algo-trade-platform/backend/app/data/refresh_aggregates.py
Restart=always
RestartSec=10
Environment=DB_PASSWORD=password
Environment=PYTHONPATH=/home/anurag/Desktop/Algo-Trading/algo-trade-platform
Environment=VIRTUAL_ENV=/home/anurag/Desktop/Algo-Trading/algo-trade-platform/backend/app/data/venv
Environment=PATH=/home/anurag/Desktop/Algo-Trading/algo-trade-platform/backend/app/data/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target 