[Unit]
Description=PostgreSQL 17 Monitor Service
After=network.target postgresql@17-main.service
Requires=postgresql@17-main.service

[Service]
Type=simple
User=root
ExecStart=/home/anurag/Desktop/Algo-Trading/algo-trade-platform/scripts/postgres_monitor.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 